**/node_modules/
**/generated/prisma

**/src/generated/prisma

**/.angular

**/.DS_Store
.DS_Store

**/dist

**/**.tar
**/**.tar.gz
**/**.zip
**/**.rar

**/.env
**/.env.local
**/.env.development
**/.env.production
**/.env.test
**/.env.staging
**/.env.development
**/.env.prod
**/.env.local
**/.env.dev